@use '../util' as *;

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;    
}


body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-poppins);
}

ul {
    list-style-type: none;
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

.image {
    background-size: cover;
    background-repeat: no-repeat;
}


@mixin underlineHoverEffect($color) {
    content: '';
    position: absolute;
    margin: auto;
    bottom: rem(-3);
    left: 0;
    height: rem(2);
    width: 0;
    background-color: $color;
    transition: width .3s cubic-bezier(0.33, 1, 0.68, 1);
}