@use '../util' as *;

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;    
}


body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: var(--font-poppins);
}

ul {
    list-style-type: none;
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}